#boba-map {
  height: calc(100vh);
}

#sidebar {
  height: 90%;
}

.sidebar-venue-card {
  cursor: pointer;
  /* https://www.w3schools.com/howto/howto_css_cards.asp */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.sidebar-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
}

.sidebar-container {
  background: white;
  max-width: 280px;
  text-align: center;
  padding: 0 0.5em 0 0.5em;
}

.fs-attribution {
  padding-top: 13px; 
}